<% content_for :guide_title do %>
  <h1>Listing Referrals</h1>
<% end %>



<% content_for :guide do %>
  <% barong_domain = ENV['BARONG_DOMAIN'] %>
  <% unless barong_domain.blank? %>
    <div>
      <span style="color: green">referral link:</span>
      <strong>https://<%= barong_domain %>>?referral=<%= current_user.code %></strong>
    </div>
  <% end %>

<% end %>



<p id="notice"><%= notice %></p>



<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>order id</th>
    <th>Ref type</th>
    <th>Rewards</th>
    <th>at</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @referrals.each do |referral| %>
    <tr>
      <td><%= referral.id %></td>
      <td><%= referral.order_id %></td>
      <td><%= referral.ref_type %></td>
      <td><%= referral.rewards %></td>
      <td><%= referral.created_at %></td>
      <td><%= link_to 'Show', referral %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
