<% content_for :guide_title do %>
  <h1>Referral</h1>
<% end %>



<% content_for :guide do %>
  <div>
    <span style="color: green">referral link:</span>  <strong>https://account.monedix.io?referral=<%= current_user.code %></strong>
  </div>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @referral.order_id %>
</p>

<p>
  <strong>Ref type:</strong>
  <%= @referral.ref_type %>
</p>

<p>
  <strong>Rewards:</strong>
  <%= @referral.rewards %>
</p>

<p>
  <strong>Created:</strong>
  <%= @referral.created_at %>
</p>

<%= link_to 'Back', referrals_path %>
