<p id="notice"><%= notice %></p>

<h1>Listing Referrals</h1>

<div class="card">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Member</th>
      <th>Order</th>
      <th>Ref type</th>
      <th>Rewards</th>
      <th>At</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @referrals.each do |referral| %>
      <tr>
        <td><%= referral.id %></td>
        <td><%= referral.member_id %></td>
        <td><%= referral.order_id %></td>
        <td><%= referral.ref_type %></td>
        <td><%= referral.rewards %></td>
        <td><%= referral.created_at %></td>
        <td><%= link_to 'Show', referral %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<br>
