<p id="notice"><%= notice %></p>

<h1>Listing Referrals</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Ref type</th>
      <th>Rewards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referrals.each do |referral| %>
      <tr>
        <td><%= referral.member_id %></td>
        <td><%= referral.ref_type %></td>
        <td><%= referral.rewards %></td>
        <td><%= link_to 'Show', referral %></td>
        <td><%= link_to 'Edit', edit_referral_path(referral) %></td>
        <td><%= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referral', new_referral_path %>
