<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @referral.member_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @referral.order_id %>
</p>

<p>
  <strong>Ref type:</strong>
  <%= @referral.ref_type %>
</p>

<p>
  <strong>Rewards:</strong>
  <%= @referral.rewards %>
</p>

<p>
  <strong>Created:</strong>
  <%= @referral.created_at %>
</p>

<%= link_to 'Back', referrals_path %>
